body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
}

a {
  color: var(--bs-gray-800);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  font-weight: 700;
  color: var(--bs-black);
}
